/*San juan bautista*/

/*reseteo general*/

*{/*selector universal*/
  box-sizing: border-box;
}
ul, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li{
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}


body{
  /* background-image: url(/imagenes_sitio/comunidad.png); */
  background-image: url(/imagenes_sitio/fondo-cielo.png);
  background-color: rgb(178, 205, 217); /* Used if the image is unavailable */
  background-position: center;
  background-repeat: no-repeat;
  margin:0 auto;
  font-family: 'Montserrat', sans-serif;
}
.main-header {
  overflow: hidden;
  text-align:center;
  margin-bottom: 40%;
  /* margin: 0 auto; */
}

.logo{
  border-radius: 50%;
  width: 20%;
  margin-top: 10%;
}

.main-header ul{
  overflow: hidden;
}

.main-header li a{
  float: right;
  width: 35%;
  text-align: center;
  display: inline-block;
  padding: 10px 10px;
  color: white;
  background-color: RGB(120, 22, 22);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.5em;
  margin-right: 10%;
  margin-bottom: 1%;
}


.btn-container {
    margin-top: 40%
    align-items: center;
    font-size: 0.8em;
    padding: 1rem
}
.btn-block{
  font-size: 1em;
}

.dropdown {
    float: right;
    margin-top: 10%;
    margin-right: 0.5%;
}

.categorias{
  display: none;
}
.main-footer{
  background-color: rgb(43, 8, 8);
  overflow: hidden;
}
.logo-footer{
  width: 30%;
  margin: 2% 5%;
  float: left;
}

.main-footer li a{
  color: white;
  float: right;
  width: 25%;
  font-weight: bold;
  font-size: 0.5em;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

/* imagen inicial de la pagina*/
.banner-inicial{
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* imagen del usuario logueado */
.avatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1em;
}

/*posteos*/
.post h2{
  background-color: RGB(120, 22, 22);
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 3px;
  padding:
}
.photo-container{
  position: relative;
}
.photo {
  width: 100%;
}
.more{
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  background-color: RGB(120, 22, 22);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

/* FORMULARIOS*/

.form-container {
	max-width: 350px;
	margin: 0 auto;
}
.field-group input {
	width: 100%;
  border: 1px solid #ccc;
  padding: 8px 38px 8px 8px;
}
.remember-me {
	text-align: right;
}
.remember-me input {
	width: auto;
}
.access-form button {
/*	font-size: 16px; */
  background-color: #3c8dbc;
  border: 1px solid #3c8dbc;
  color: #fff;
  text-transform: capitalize;
  width: 70%;
  padding: 12px 20px;
  border-radius: 10px;
	cursor: pointer;
}
.field-text-area {
  width: 100%
}

/* Paginas con consultas y modificaciones*/

.posteos h2{
  background-color: rgb(51, 48, 110);
  color: white;
  margin-top: 2%;
}
.one-post{
  overflow: hidden;
  border: 0.3em solid rgb(212, 211, 224);
  margin-bottom: 1%;
}
.one-post-detail{
  overflow: hidden;
  margin-bottom: 1%;
}
.post-image{
  float: left;
}
.post-image-detail{
  margin: auto;
  width: 40%;
  border: 2px solid rgb(51, 48, 110);
  padding: 1%;
}
.post-title{
  float: right;
  width: 50%;
}
.post-title h5{
  margin-top: 2%;
  font-size: 1rem;
  margin-left: 2%;
  margin-right: 2%;
  padding: 1%;
}
.post-title-detail{
  float: none;
  text-decoration: underline;
  margin-top: 2%;
  font-size: 1.5em;
  font-weight: bold;
  align-items: center;
}
.post-desc{
  float: none;
  margin-top: 2%;
  font-size: 1em;
  margin-left: 2%;
  margin-right: 2%;
  padding: 1%;
}
.post-link{
  float: none;
  color: rgb(19, 41, 207);
  text-decoration: underline;
  margin-top: 2%;
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 2%;
  margin-right: 2%;
  padding: 1%;
}
.post-like{
  float: left;
  margin-left: 10%;
}

.btn-action{
  margin-top: 2%;
}


/********************     Media query para PC y Tablets  ********************/

/* Para Laptop */
/* @media (min-width: 1024px) { */

/* Para Tablet y mas */
@media (min-width: 768px) {
  .main-header{
    overflow: hidden;
    position: relative;
    margin-bottom: 20%;
  }
  /* body{
    background-image: url(/imagenes_sitio/inicio.png);
    background-repeat: no-repeat;
    background-size: cover;
  } */

  .logo{
    width: 10%;
    margin-top: 0.5rem;
  }
  .dropdown {
      margin-top: 3%;
  }

  .btn-container {
      width: 100%;
      margin-top: 20%;
      padding: 0.1rem 30rem 0.1rem 2rem;
      align-items: center;
  }
  .btn-block{
    width: 60%;
  }

  .main-header ul{
    width: 100%;
    float: right;
    position: absolute;
    bottom: 12%;
  }

  .main-header li a{
    float: right;
    width: 12%;
    margin-right: 1%;
    margin-left: 1%;
    font-size: 0.5em;
  }

  .logo-footer{
    width: 30%;
  }

  .main-footer li a{
    width: 25%;
    font-size: 1.5em;
  }

  .posteos{
    overflow: hidden;
  }
  .one-post{
    float: left;
    width: 50%;
  }
